html {
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

sub {
  color: #777;
  font-size: 12px;
}

h1 {
  margin-bottom: 0.1rem;
}

h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

body {
  font-family: Monaco, monospace, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
  font-size: 14px;
  line-height: 1.8;
}

#page-wrap {
  width: 900px;
  margin: 50px auto 120px auto;
}

#profile {
  position: relative;
}

#profile img{
  width: 200px;
}

#info td:first-child {
  width: 100px;
  font-weight: 800;
  vertical-align: top;
}

#info tr:first-child td{
  vertical-align: middle;
}

.en #info td:first-child {
  width: 150px;
  font-weight: 600;
}

.date, .team-size {
  font-size: 12px;
  font-weight: normal;
  color: #777;
}

.info {
  color: #555;
  padding: 0;
  margin: 4px 0;
}


h3 a, h4 a {
  font-size: 13px;
  font-weight: normal;
}

#name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.career-title span {}

#profile {
  float: right;
  width: 190px;
}

#info {
  width: 700px;
}

.dim {
  color: #666;
}

.projects h4 {
  margin: 10px 0;
}

.projects {
  list-style: none;
  padding: 0;
}
.skills {
  padding-left: 20px;
  margin-top: 0;
}

.notice {
  border-top: 1px solid #cecece;
  padding-top: 10px;
}

.skills {
  padding-left: 10px;
}


/* print.css */
@media print {
  table, img, svg {
    break-inside: avoid;
  }
  @page { size: auto;  margin-top: 10mm; }
}
