@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #162e41;
  background-image: url(/images/bg.png);
  background-position: 0 0;
  background-repeat: repeat;
  color: #111111;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  html fieldset, html img {
    border: none; }

::selection {
  background: #476871;
  color: white;
  text-shadow: none; }

body {
  margin: 0;
  padding: 0;
  border: none;
  overflow-y: scroll;
  overflow-x: hidden; }
  -webkit-font-smoothing: antialiased;
  body fieldset, body img {
    border: none; }

#wrap {
  width: 619px;
  margin: 5px auto;
  padding: 20px;
  border-radius: 8px;
  -webkit-border-raidus: 8px;
  -moz-border-raidus: 8px; }
  #wrap .glow {
    width: 100%;
    height: 754px;
    position: absolute;
    top: 0;
    left: -100px;
    z-index: -1;
    background-image: url(/images/about-glow.png);
    background-repeat: no-repeat;
    background-position: center center; }

#header, #footer {
  width: 619px;
  padding: 50px 0 140px;
  margin: 0 auto; }
  #header .content, #footer .content {
    padding: 30px 59px 40px;
    text-align: center;
    background-image: url(/images/about-content-bg.png);
    background-repeat: repeat-y;
    background-position: left top; }
    #header .content div, #footer .content div {
      font-size: 12px; }
      #header .content div a a, #footer .content div a a {
        color: #999999;
        text-decoration: none; }
        #header .content div a a:hover, #header .content div a a:focus, #footer .content div a a:hover, #footer .content div a a:focus {
          -webkit-transition: all 350ms ease-in-out;
          -moz-transition: all 350ms ease-in-out;
          -o-transition: all 350ms ease-in-out;
          transition: all 350ms ease-in-out;
          border-bottom: 1px solid #111111;
          background: #111111;
          color: #efefef; }
  #header .top, #footer .top {
    height: 14px;
    overflow: hidden;
    background-image: url(/images/about-top-bg.png);
    background-repeat: no-repeat;
    background-position: left top; }
  #header .bottom, #footer .bottom {
    height: 21px;
    background-image: url(/images/about-bottom-bg.png);
    background-repeat: no-repeat;
    background-position: top left; }

h1 {
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: #111111 1px 1px 0px, #234967 2px 2px 0px, #234967 3px 3px 0px, #234967 4px 4px 0px, #234967 5px 5px 0px, #234967 6px 6px 0px, #234967 7px 7px 0px;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  h1 a {
    color: #e3d7bf;
    text-decoration: none; }
    h1 a:hover {
      color: #162e41; }
      h1 a:hover span:after {
        color: black; }
    h1 a span {
      font-size: 0.01em;
      color: #999999; }
      h1 a span:after {
        content: "★";
        position: relative;
        bottom: 0.1em;
        padding-left: 0.2em;
        padding-right: 0.3em;
        font-size: 80em;
        color: #162e41; }

#nav {
  margin: 0 auto;
  padding: 0;
  border: none;
  list-style-type: none;
  padding-left: 120px;}
  #nav fieldset, #nav img {
    border: none; }
  #nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  #nav li {
    padding: 10px 5px;
    float: left;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out; }
    #nav li a {
      color: #999999;
      text-decoration: none; }
      #nav li a:hover, #nav li a:focus {
        -webkit-transition: all 350ms ease-in-out;
        -moz-transition: all 350ms ease-in-out;
        -o-transition: all 350ms ease-in-out;
        transition: all 350ms ease-in-out;
        border-bottom: 1px solid #111111;
        background: #111111;
        color: #efefef;
        border-radius: 5px;}
    #nav li a {
      padding: 3px; }

img {
  padding: 5px;
  background: white;
  border: 1px solid #f4f2f0;
  max-width: 520px;
  box-shadow: 1px 1px 2px #dadada;
  -webkit-box-shadow: 1px 1px 2px #dadada; }

.post a {
  color: #999999;
  text-decoration: none; }
  .post a:hover, .post a:focus {
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    border-bottom: 1px solid #111111;
    background: #111111;
    color: #efefef; }
.post .top {
  position: relative;
  height: 74px;
  background-image: url("/images/post-top-bg.png");
  background-repeat: no-repeat;
  background-posotion: 0 0; }
  .post .top time {
    color: #999999;
    font-size: 12px;
    position: absolute;
    right: 100px;
    top: 50px; }
  .post .top h2 {
    position: absolute;
    left: 100px;
    top: 23px;
    color: gray; }
    .post .top h2 a {
      color: #999999;
      text-decoration: none; }
      .post .top h2 a:hover, .post .top h2 a:focus {
        -webkit-transition: all 350ms ease-in-out;
        -moz-transition: all 350ms ease-in-out;
        -o-transition: all 350ms ease-in-out;
        transition: all 350ms ease-in-out;
        border-bottom: 1px solid #111111;
        background: #111111;
        color: #efefef; }
.post .bottom {
  height: 82px;
  background-image: url("/images/post-bottom-bg.png");
  background-repeat: no-repeat;
  background-posotion: 0 0; }
.post .bottom span{
  margin-left: 40px;
  color: #ececec;
  text-shadow: 1px 1px 1px #FFF;
  -moz-text-shadow: 1px 1px 1px #FFF;
  -webkit-text-shadow: 1px 1px 1px #FFF;
  -o-text-shadow: 1px 1px 1px #FFF;
}
.post .content {
  line-height: 2;
  font-size: 14px;
  text-shadow: white 0 1px 0;
  padding: 16px 40px 40px;
  background-image: url("/images/post-content-bg.png");
  background-repeat: repeat-y;
  background-position: 0 0;
  border-raidus: 5px; }
  .post .content pre {
    background: #222222;
    color: white;
    text-shadow: none;
    width: 579px;
    border-radius: 5px;
    margin-left: -40px;
    padding: 20px; }
    .post .content pre code {
      border: none; }
  .post .content li pre {
    margin-left: -80px; }
  .post .content code {
    background: #222222;
    color: white;
    text-shadow: none;
    font-size: 12px;
    line-height: 1.25;
    font-family: "Monaco", "Courier New", monospace;
    padding: 3px;
    border: 1px solid #111111;
    border-radius: 5px; }

.projects h3 a{color:#000}
.projects h3 {border-bottom: 1px solid #ccc}
.projects h3 span{font-weight: normal; font-size: 80%;}
.projects p {margin-bottom: 2.5em}

.archive p {display: inline; border-bottom: 1px dashed #ccc}
.archive ol {list-style-type: lower-greek;}

#footer .content {
  padding: 20px 40px 20px; }
  #footer .content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

#qrcode {
  display: block;
  margin-left: 50px;
  float: left;
  width: 100px; }
  #qrcode img {
    width: 100px; }

#web_links {
  display: block;
  margin-right: 30px;
  float: right;
  width: 340px;
  text-align: left;
  font-size: 14px;
  color: #999999;
  line-height: 1.5; }
  #web_links a {
    padding: 2px;
    margin: 0 3px;
    background: #b9d8e6;
    color: #f2a2a2;
    text-decoration: none;
    border-radius: 4px; }

#copyright {
  font-size: 12px;
  color: #cfcfcf;
  font-family: "Monaco", "Courier New", monospace; }

#addon {
  position: fixed;
  left: -20px;
  top: 6em; }

#github {
  display: block;
  background: none;
  width: 100px;
  height: 100px; }
  #github img {
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 80px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform 1s ease-in;
    -moz-transition: -moz-transform 1s ease-in;
    -o-transition: -o-transform 1s ease-in;
    transition: transform 1s ease-in; }
    #github img:hover {
      -webkit-transform: rotate(75deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }

#dsq-pagination {
  text-decoration: none;
  font-size: 12px;
  color: #b3b3b3; }
