<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="/stylesheets/default.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/highlight.css" rel="stylesheet" type="text/css">
    <link href="http://feeds2.feedburner.com/lenage" rel="alternate" title="lenage's blog" type="application/atom+xml">
    <link href='/images/favicon.ico' rel='shortcut icon' type='image/ico'>
  </head>
  <body>
    <div id="wrap">
      <div class="glow"></div>
      <div id="header">
        <div class="top"></div>
        <div class="content">
        <h1><a href="{{ base.url }}/">lenage<span>.</span>blog</a></h1>
        <ul id="nav">
          <li><a href="{{ base.url }}/">Blog</a></li>
          <li><a href="{{ base.url }}/config">Config</a></li>
          <li><a href="{{ base.url }}/projects">Projects</a></li>
          <li><a href="{{ base.url }}/about/">About</a></li>
        </ul>
      </div>
      <div class="bottom"></div>
      </div>
    {{ content }}
  </div>
  <!--Add you link here-->
  <div id="addon">
    <a href="http://github.com/lenage" id="github"><img src="/images/parallax_octocat.png" alt="Find me on Github"/></a>
  </div>
  </body>
</html>
